<%= form_for @station do |f| %>
  <%if @station.errors.any? %>
    <ul>
      <% @station.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, :value => @station.name %>
  </div>

  <div>
    <%= f.label :address %>
    <%= f.text_field :address, :value => @station.address %>
  </div>

  <%= f.submit 'Submit' %>
<% end %>
