<%= @station.name %>
<%= @station.address %>

<% if !@review.nil? %>
<% if @review.errors.any? %>
<% @review.errors.full_messages.each do |error| %>
<%= error %>
<% end %>
<% end %>
<% end %>

<ul>
  <% @reviews.each do |review| %>
  <li>
    <%= review.description %>
    <%= review.rating %>
    <%= link_to "Edit", edit_station_review_path(@station, review) %>
  </li>
  <% end %>
</ul>

<%= form_for [@station, @review] do |f| %>
<div>
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>


<div>
  <%= f.label :rating %>
  <%= f.select(:rating, %w[1 2 3 4], {prompt: 'Rating'}) %>
</div>

<div>
  <%= f.submit "Submit" %>
</div>

<% end %>
