<!-- <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @station.latitude + "," + @station.longitude %>&zoom=16&format=png&sensor=false&size=640x480&maptype=roadmap&style=feature:administrative|visibility:off&style=feature:poi|visibility:off&style=feature:road.highway|element:labels|visibility:off&style=feature:water|element:labels|visibility:off&style=feature:road.arterial|element:labels|visibility:off|lightness:85&style=feature:road.local|element:labels|visibility:off&style=feature:landscape|element:geometry.fill|color:0xffffff&style=feature:road.highway|element:geometry.fill|hue:0xff7700|weight:3.8|lightness:100|gamma:0.2&style=feature:road.arterial|element:geometry.fill|color:0x7d8080|lightness:77&style=feature:road.local|element:geometry.fill|color:0x808080|lightness:97|gamma:0.55&style=feature:water|gamma:0.28|lightness:82&style=feature:transit.station|visibility:off&style=feature:road.highway|element:geometry&style=feature:transit.line|visibility:off&style=feature:water"> -->
<div class="overlay" onClick="style.pointerEvents='none'"></div>
<iframe width="100%" height="150" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBmaUUgreBb8VainWXdk6ugZ3eroEoEeYw&q=<%= @station.latitude + "," + @station.longitude %>&zoom=18&maptype=roadmap"></iframe>
<div class="ui card header description" style="
    position: absolute;
    left: 0;
    top: 116px;
    padding: .5% 0% .5% 2%;
    box-shadow: inset 5px 5px 4px rgba(255, 255, 255, 0), inset -5px -5px 4px rgba(247, 247, 247, 0.06);
    /* z-index: -1; */
    background: rgb(255, 255, 255);
    color: rgb(27, 28, 29);
    /* text-shadow: 0px 0px 0px rgba(160, 149, 149, 0.25), 3px 1px 1px rgba(255, 255, 255, 0.24), 0px 0px 0px rgba(5, 4, 4, 0.22), 0px 0px 0px rgba(0, 0, 0, 0.05); */
    font-size: large;
    border-radius: 2px;

    border: solid 1px rgb(209, 209, 209);"
    >
<%= @station.name %>
<%= @station.address %>
</div>

<div class="ui grid">
  <% @station.station_images.each do |station_image| %>
      <%= image_tag(station_image.image.url, alt: station_image.description, class: "four wide column" )%>
      <%= station_image.description %>
  <% end %>
</div>

<%= render partial: "reviews/show", locals: { station: @station } %>
<div class="ui card" style="width: 80%;
margin: 5% 10% 0% 10%;">
<div class="ui card" style="display: inline-block;
margin: 3%;
width: 94%;">
  <div class="ui label blue">Write a review for <%= @station.name %>!</div>
  <%= form_for [@station, @review], html: {class: "ui fluid form", style: "width: 96%; display: inline-block; padding: 0%; margin: 2%;"} do |f| %>
    <%= f.label :description %>
    <%= f.text_area :description, style: "margin-bottom: 1%;", placeholder: "Enter a description"%>
    <%= f.select(:rating, %w[1 2 3 4], {prompt: 'Rating'}, html: {class: "ui selection dropdown"}) %>
    <%= f.submit "Submit", class: "ui button black", style: "margin-top: 1%;" %>
  <% end %>
</div>

<div class="ui card" style="margin: 3%;
width: 94%;">
  <div class="ui label blue">
  Upload a photo of <%= @station.name %>!
  </div>
  <%= form_for [@station, @image], html: {class: "ui fluid form", style: "width: 100%; padding: 3%; bottom: 0; top: 0; left: 0;"} do |f| %>
    <div class="field">
    <%= f.label :image, "Image" %>
    <%= f.file_field :image %>
    </div>
    <div class="field">
    <%= f.label :description, "Image Description" %>
    <%= f.text_field :description %>
    </div>
    <%= f.hidden_field :station_id, value: @station.id %>
    <%= f.submit "Add photo", class: "ui submit button black" %>
  <% end %>
  </div>
</div>
</div>

<%= link_to "Delete", station_path(@station), method: :delete, data: { confirm: 'Are you sure?' } %>

