<%= @station.name %>
<img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @station.latitude + "," + @station.longitude %>&zoom=13&size=600x300&markers=color:red%7Clabel:A%7C<%= @station.latitude + "," + @station.longitude %>">

<%= @station.address %>

<% if @review.errors.any? %>
  <% @review.errors.full_messages.each do |error| %>
    <%= error %>
  <% end %>
<% end %>
<% if !@reviews.nil? %>
<ul>
  <% @reviews.each do |review| %>
  <li>
    <%= review.description %>
    <%= review.rating %>
    <% if @user && (@user.id == review.user.id || @user.role == "admin") %>
      <%= link_to "Edit this review", edit_station_review_path(@station, review) %>
      <%= button_to "Delete",
      review_path(review),
      method: :delete,
      action: :destroy,
      data: { confirm: "Are you sure you want to delete this review?" }%>
    <% else %>
      <%= render partial: 'stations/votes', locals: { station: @station, review: review } %>
    <% end %>
  </li>
  <% end %>
</ul>

<% end %>

<%= form_for [@station, @review] do |f| %>
<div>
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>


<div>
  <%= f.label :rating %>
  <%= f.select(:rating, %w[1 2 3 4], {prompt: 'Rating'}) %>
</div>

<div>
  <%= f.submit "Submit" %>
</div>

<% end %>

<%= form_for [@station, @image] do |f| %>
<div>
  <%= f.label :url, "Image" %>
  <%= f.file_field :url %>
</div>

<div>
  <%= f.label :description, "Image Description" %>
  <%= f.text_field :description %>
</div>

<div>
  <%= f.submit "Add photo" %>
</div>

<% end %>

<%= link_to "Delete", station_path(@station), method: :delete, data: { confirm: 'Are you sure?' } %>
