<%= @station.name %>
<%= @station.address %>
<ul>
  <% @station.reviews.each do |review| %>
    <li>
      <%= review.description %>
      <%= review.rating %>
    </li>
  <% end %>
</ul>

<%= link_to "Delete", station_path(@station), method: :delete, data: { confirm: 'Are you sure?' } %>
