<%= @station.name %>
<img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @station.latitude + "," + @station.longitude %>&zoom=13&size=600x300&markers=color:red%7Clabel:A%7C<%= @station.latitude + "," + @station.longitude %>">

<%= @station.address %>

<%= render partial: "reviews/show", locals: { station: @station } %>

<%= form_for [@station, @review] do |f| %>
<div>
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>


<div>
  <%= f.label :rating %>
  <%= f.select(:rating, %w[1 2 3 4], {prompt: 'Rating'}) %>
</div>

<div>
  <%= f.submit "Submit" %>
</div>

<% end %>


<%= link_to "Delete", station_path(@station), method: :delete, data: { confirm: 'Are you sure?' } %>
