<% if @review.errors.any? %>
<div class="errors">
<% @review.errors.full_messages.each do |error| %>
<%= error %>!
<% end %>
</div>
<% end %>

<%= form_for [@station, @review] do |f| %>
<div>
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>


<div>
  <%= f.label :rating %>
  <%= f.select(:rating, %w[1 2 3 4], {prompt: 'Rating'}) %>
</div>

<div>
  <%= f.submit "Update" %>
</div>

<% end %>
