<!DOCTYPE html>
<html>
<head>
  <title>sTaTion!</title>
  <%= stylesheet_link_tag 'semantic', media: 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="ui menu">
      <div class="item"><h1><a href="/">sTaTion!</a></h1>
        <% if current_user %>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "ui gray button"%>
          <%= link_to 'User Settings', edit_user_registration_path, method: :get, class: "ui gray button" %>
        <% else %>
          <%= link_to 'Sign Up', new_user_registration_path, class: "ui gray button" %>
          <%= link_to 'Sign In', new_user_session_path, class: "ui gray button" %>
        <% end %>
      </div>
      <div class="right menu">
      <div class="item">
        <div class="ui form">
          <%= form_tag(stations_path, method: "get") do %>
          <div class="field">
            <%= text_field_tag(:search, params[:search], placeholder: "Search Stations") %>
          </div>
          <%= submit_tag "Search", class: "ui gray button" %>
          <% end %>
        </div>
      </div>
    </div>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="ui message red">
      <%= value %>
    </div>
  <%- end -%>
  <div>
    <%= yield %>
  </div>
  <%= javascript_include_tag 'semantic.min' %>
  <%= javascript_tag do %>
    $(function(){
      $(document).semantic();
    });
  <% end %>
  <%= yield :extra_footer %>
</body>
</html>
